*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: "header header" min-content
                "menu main" 1fr
                "footer footer" min-content;
    grid-template-columns: 250px 1fr;
    max-height: 100vh;
}

.a11y-nav {
    position: absolute;
    top: -10em;
    z-index: 100;
    width: 100%;
}

.a11y-nav a {
    position: absolute;
    background-color: #fff;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem 0;
}

.a11y-nav a:focus, .a11y-nav a:hover {
    top: 10em;
    text-decoration: none;
}

a:focus {
    outline: 3px solid #3850bb;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 120px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    /* text-align: center; */
    font-weight: normal;
    font-family: Georgia, 'Bitstream Vera Serif', Norasi, sans-serif;
}

header nav {
    padding-top: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* menu horizontal */
header nav li {
    display: inline;
}

header nav li a {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
    background-color: transparent;
    margin-top: 0px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
}

header nav a:hover, header nav a.current, header nav a:focus {
    color: #fff;
    text-shadow: #ffffff80 1px 0 1px;
    text-decoration: underline;
    border: .2em solid #3850bb;
    border-radius: 10px;
    background: #a020f0;
}

#menu {
    grid-area: menu;
}

main {
    grid-area: main;
}

#menu, main {
    display: inline-block;
    overflow-y: auto;
    max-height: 100vh;
    max-width: 100vw;
}

#menu nav {
    vertical-align: top;
    margin: 5px;
    background: #a020f0;
    border: 3px solid #3850bb;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#menu nav li a {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.1em;
}

#menu aside {
    background: #345361;
    border: 3px solid;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 10px;
}

#menu aside p {
    text-align: center;
    text-decoration: underline;
    color: #fff;
    font-size: larger;
}

#menu aside li, #menu nav li {
    padding-left: 15px;
    color: #fff;
    margin-bottom: .5em;
}

#menu aside li a {
    cursor: pointer;
    color: #fff;
}

section h1 {
    text-align: center;
}

#sommaireSection {
    padding: 50px;
}

#sommaireSection article {
    margin: auto;
}

article {
    width: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
}

article h2 {
    text-align: left;
}

article ul {
    padding-left: 20px;
}

.em {
    color: #3850bb;
    font-style: italic;
    font-size: larger;
}

p, .reflexion, img {
    margin: .75em 0;
 }

.cite {
    font-style: italic;
}

ol {
    margin-left: 20px;
}

.float_right {
    float: right;
    margin: 0 10px;
}

.float_left {
    float: left;
    margin: 0 10px;
}

.lecteurDEcran {
    position: absolute !important;
    top: -1000px !important;
}

.html {
    font-family: 'Bitstream Vera Mono', 'Lucida Console', 'Courier New', monospace;
    font-size: larger;
    color: purple;
}

.information {
    color: #008000;
    height: 128px;
    border: .2em solid;
    border-radius: 10px;
    margin: .75em 0;
    margin-right: 5px;
}

.important {
    min-height: 128px;
    color: #f00;
    border: .2em solid;
    border-radius: 10px;
    margin: .75em 0;
    margin-right: 5px;
}

pre, code {
    font-size: 95%;
    font-family: 'Bitstream Vera Mono', 'Lucida Console', 'Courier New', monospace;
}

pre {
    width: 90%;
    overflow: auto;
    margin: .5em 0;
    padding: 12px;
    background: #eee;
    color: #555;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    height: auto;
}

dl a {
    text-decoration: none;
    cursor: pointer;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 50px;
    margin-bottom: 15px;
}

.clear {
    clear: both;
}

.advise {
    color: #008000;
    clear: left;
}

.strong  {
    font-weight: bold;
    color: #000;
}

pre .strong {
    font-weight: normal;
    color: #000;
}

table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    overflow-x: auto;
}

td, th {
    word-wrap: break-word;
    padding: 8px;
    border: 1px solid #000;
    text-align: left;
}

table.narrow-table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

#exemple, .tableBalises {
    border-collapse: collapse;
}

#exemple td, .tableBalises td, .tableBalises th {
    border: thin solid #000;
    padding: 5px;
}

.tableBalises th {
    background: #dcdcdc;
}

.tableBalises .red {
    color: #f00;
}

.tableBalises .green {
    color: #0f0;
}

.colspan td, .one td, .two td, .three td {
    border-style: solid;
}

table.one {
    border-collapse: separate;
    border-spacing: 10px;
}

table.two {
    border-collapse: separate;
    border-spacing: 10px 30px;
}

table.three {
    border-collapse: collapse;
}

#codes {
    margin: auto;
    border-style: ridge;
    background: #eee;
}

#codes th {
    border-bottom: thin solid;
    border-collapse: collapse;
}

#w3c {
    padding: 20px;
    clear: both;
}

#getpost {
    margin: auto;
    border-style: ridge;
    background: #eee;
}

#getpost th {
    border: thin solid;
    border-collapse: collapse;
    background: #dcdcdc;
}

#getpost td {
    border: thin solid;
    border-collapse: collapse;
    width: 50%;
}

.affichageNav {
    background: #eee;
}

#videodemo {
    display: flex;
}

#videodemo > div {
    width: 30%;
    margin-right: 50px;
}

#videodemo video {
    width: 60%;
    border: 5px solid #000;
}

#couleurs table {
    color: #fff;
    border-style: none;
} 

#couleurs td {
    text-align: center;
    font-weight: bold;
    width: 140px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    background: #494949;
}

footer div {
    border-right: dashed;
    padding: 30px;
}

footer div * {
    color: #fff;
}

#version {
    /* pas de border-right pour le dernier élément */
    border-style: none;
}

.mail {
    color: #69c9ef;
    /* afficher les mails les uns en dessous des autres */
    display: block;
}

#couleurs table {
    color: #fff;
    border-style: none;
}

#couleurs td {
    text-align: center;
    font-weight: bold;
    width: 140px;
    height: 40px;
    border-style: none;
}

#couleurs .aqua {
    background-color: #0ff;
    color: #fff;
}

#couleurs .black {
    background-color: #000;  
    color: #fff; 
}

#couleurs .blue {
    background-color: #00f;
}

#couleurs .fuchsia {
    background-color: #f0f;
}

#couleurs .green {
    background-color: #008000;
}

#couleurs .lime {
    background-color: #0f0;
    color: #000;
}

#couleurs .maroon {
    background-color:#800000;
}

#couleurs .navy {
    background-color: #000080;
}

#couleurs .olive {
    background-color: #808000;
}

#couleurs .purple {
    background-color: #800080;
}

#couleurs .red {
    background-color: #f00;
}

#couleurs .silver {
    background-color: #c0c0c0;
}

#couleurs .teal {
    background-color: #008080;
}

#couleurs .white {
    background-color: #fff;
    color: #000;
}

#couleurs .yellow {
    background-color: #ff0;
    color: #000;
}

#couleurs .gray {
    background-color: #808080;
}

table * {
    vertical-align: top;
}

main h1, main h2, main h3, main h4, main h5, main h6, .souligne {
    text-decoration: underline;
}

.dessus-dessous {
    text-decoration: underline overline;
}

.centre {
    text-align: center;
}

.c0 {
    color: #000;
}

.c0d {
    color: #0d0d0d;
}

.c19 {
    color: #191919;
}

.c26 {
    color: #262626;
}

.c3 {
    color: #333;
}

.c40 {
    color: #404040;
}

.c4c {
    color: #4c4c4c;
}

.c59 {
    color: #595959;
}

.c6 {
    color: #666;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    background: #494949;
}

footer div {
    border-right: dashed;
    padding: 30px;
}

footer div * {
    color: #fff;
}

@media screen and (max-height: 500px) {
    header {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    #menu li a {
        font-size: 10px !important;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}