*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.a11y-nav {
    position: absolute;
    top: -10em;
    z-index: 100;
    width: 100%;
}

.a11y-nav a {
    position: absolute;
    background-color: #fff;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem 0;
}

.a11y-nav a:focus, .a11y-nav a:hover {
    top: 10em;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100vw;
    min-height: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    /* text-align: center; */
    font-weight: normal;
    font-family: Georgia, 'Bitstream Vera Serif', Norasi, sans-serif;
}

header h1 {
    font-style: italic;
    padding: 5px;
}

header h2 {
    padding: 10px;
}

header nav {
    padding-top: 20px;
}

/* menu horizontal */
header nav li {
    display: inline;
}

header nav li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    padding: 7px;
    background-color: transparent;
    margin-top: 0px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}

header nav a:hover, header nav a.current, header nav a:focus {
    color: #14647d;
    text-shadow: rgba(255, 255, 255, .5) 1px 0 1px;
    text-decoration: underline;
    border: 1px solid #36b0d9;
    border-radius: 10px;
    background: #9ce6fe;
}

#menu {
    position: fixed;
    width: 250px;
    display: inline-block;
}

#menu nav {
    vertical-align: top;
    margin: 5px;
    background: #ea7f37;
    border: 3px solid #da7c0c;
    border-radius: 10px;
    margin-bottom: 10px;
}

#menu nav li a {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#menu aside {
    background: #345361;
    border: 3px solid;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 10px;
    color: #fff;
}

#menu aside p {
    text-align: center;
    text-decoration: underline;
}

#menu aside li {
    list-style: none;
    padding-left: 15px;
}

#menu aside li a {
    cursor: pointer;
    color: #fff;
}

section {
    background: #f7e0ae;
    height: 100%;
}

section h1 {
    text-align: center;
    padding: 15px;
    padding-bottom: 15px;
    font-size: 3em;
}

#sommaireSection {
    padding: 50px;
}

#sommaireSection article {
    margin: auto;
}

article {
    margin-left: 280px;
    width: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
}

article h2 {
    color: #ea7f37;
    text-align: left;
    padding-bottom: 5px;
}

article ul {
    padding-left: 20px;
}

.em {
    color: #cc3300;
    font-style: normal;
    font-size: larger;
}

p, .reflexion, img {
    margin: .75em 0;
 }

.cite {
    font-style: italic;
}

ol {
    margin-left: 20px;
}

.float_right {
    float: right;
    margin: 0 10px;
}

.float_left {
    float: left;
    margin: 0 10px;
}

.lecteurDEcran {
    position: absolute !important;
    top: -1000px !important;
}

.html {
    font-family: 'Bitstream Vera Mono', 'Lucida Console', 'Courier New', monospace;
    font-size: larger;
    color: purple;
}

.information {
    color: #008000;
    height: 128px;
    border: 1px solid;
    border-radius: 10px;
    margin: .75em 0;
    margin-right: 5px;
}

.important {
    height: 128px;
    color: #ff0000;
    border: 1px solid;
    border-radius: 10px;
    margin: .75em 0;
    margin-right: 5px;
}

pre, code {
    font-size: 95%;
    font-family: 'Bitstream Vera Mono', 'Lucida Console', 'Courier New', monospace;
}

pre {
    width: 90%;
    overflow: auto;
    overflow-y: hidden;
    margin: .50em 0;
    padding: 12px;
    background: #eee;
    color: #555;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    height: auto;
}

dl a {
    text-decoration: none;
    cursor: pointer;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 50px;
    margin-bottom: 15px;
}

.clear {
    clear: both;
}

.advise {
    color: #008000;
    clear: left;
}

.strong  {
    font-weight: bold;
    color: #000;
}

pre .strong {
    font-weight: normal;
    color: #000;
}

table.narrow-table {
    width: 1000px;
    table-layout: fixed;
}

#exemple, .tableBalises {
    border-collapse: collapse;
}

#exemple td, .tableBalises td, .tableBalises td {
    border: thin solid;
}

.tableBalises th {
    background: #dcdcdc;
    border: thin solid;
    padding: 5px;
}

.colspan td, .one td, .two td, .three td {
    border-style: solid;
}

table.one {
    border-collapse: separate;
    border-spacing: 10px;
}

table.two {
    border-collapse: separate;
    border-spacing: 10px 30px;
}

table.three {
    border-collapse: collapse;
}

#codes {
    margin: auto;
    border-style: ridge;
    background: #eee;
}

#codes th {
    border-bottom: thin solid;
    border-collapse: collapse;
}

#w3c {
    padding: 20px;
    clear: both;
}

#getpost {
    margin: auto;
    border-style: ridge;
    background: #eee;
}

#getpost th {
    border: thin solid;
    border-collapse: collapse;
    background: #dcdcdc;
}

#getpost td {
    border: thin solid;
    border-collapse: collapse;
    width: 50%;
}

.affichageNav {
    background: #eee;
}

#videodemo {
    display: flex;
}

#videodemo > div {
    width: 30%;
    margin-right: 50px;
}

#videodemo video {
    width: 60%;
    border: 5px solid #000;
}

div#couleurs table {
    color: #fff;
    border-style: none;
} 

div#couleurs td {
    text-align: center;
    font-weight: bold;
    width: 140px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    height: 150px;
    background: #494949;
    color: #fff;
}

footer div {
    border-right: dashed;
    padding: 30px;
}

#version {
    /* pas de border-right pour le dernier élément */
    border-style: none;
}

.mail {
    color: #69c9ef;
    /* afficher les mails les uns en dessous des autres */
    display: block;
}

div#couleurs table {
    color: #fff;
    border-style: none;
}

div#couleurs td {
    text-align: center;
    font-weight: bold;
    width: 140px;
    height: 40px;
    border-style: none;
}

div#couleurs .aqua {
    background-color: #0ff;
    color: #fff;
}

div#couleurs .black {
    background-color: #000;   
}

div#couleurs .blue {
    background-color: #00f;
}

div#couleurs .fuchsia {
    background-color: #f0f;
}

div#couleurs .green {
    background-color: #008000;
}

div#couleurs .lime {
    background-color: #0f0;
    color: #000;
}

div#couleurs .maroon {
    background-color:#800000;
}

div#couleurs .navy {
    background-color: #000080;
}

div#couleurs .olive {
    background-color: #808000;
}

div#couleurs .purple {
    background-color: #800080;
}

div#couleurs .red {
    background-color: #f00;
}

div#couleurs .silver {
    background-color: #c0c0c0;
}

div#couleurs .teal {
    background-color: #008080;
}

div#couleurs .white {
    background-color: #fff;
    color: #000;
}

div#couleurs .yellow {
    background-color: #ff0;
    color: #000;
}

div#couleurs .gray {
    background-color: #808080;
}

table * {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, .souligne {
    text-decoration: underline;
}

.dessus-dessous {
    text-decoration: underline overline;
}

@media screen and (max-height: 500px) {
    header {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    #menu li a {
        font-size: 10px !important;
    }
    aside {
        display: none;
    }
}