*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span {
    color: white;
    font-size: 3em;
    font-family: "poppins";
    font-weight: bold;
}

.square-1 {
    background-color: red;
}

.square-2 {
    background-color: blue;
}

.square-3 {
    background-color: green;
}

.square-4 {
    background-color: purple;
}

.square-2 {
    display: block;
    position: relative;
}

.square-test {
    position: absolute; /* postulat de départ */
    background-color: black;
    height: 50px;
    width: 50px;
    left: 50%; top: 50%; /* à 50%/50% référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}