*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.accordion {
    width: 100%;
    display: flex;
  }
  
.accordion-section {
    background: #f7f7f7;
    border-right: 1px solid #dedede;
    list-style-type: none;
}
  
.accordion-section-title {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    text-decoration: none;
    text-align: center;
}
  
.accordion-section-content {
    display: none;
    padding: 15px;
    font-size: 14px;
    color: #333;
    list-style: none;
}