*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.slider-1 {
    max-width: 600px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

.slider-1 .slider-gauche {
    display: flex;
    animation: slider-horizontal-gauche 12s infinite ease-in-out;
}

.slider-1 .slider-droite {
    display: flex;
    flex-direction: row-reverse;
    animation: slider-horizontal-droite 12s infinite ease-in-out;
}

.slider-1 p {
    background: rgb(101, 15, 15);
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    counter-reset: #f1f1f1;
}

.slider-2 {
    max-width: 600px;
    height: 200px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

.slider-2 .slider-bas {
    height: 100%;
    animation: slider-vertical-bas 12s infinite ease-in-out;
}

.slider-2 .slider-haut {
    height: 100%;
    animation: slider-vertical-haut 12s infinite ease-in-out;
    display: flex;
    flex-direction: column-reverse;
}

/*
    5% par transition, nombre choisi arbitrairement.

    reste divisé par nb de pauses
    80(%) / 4 = 20(%) par pause
*/
@keyframes slider-horizontal-gauche {
    0%, 20% {
        transform: translateX(0);
    }
    25%, 45% {
        transform: translateX(-100%);
    }
    50%, 70% {
        transform: translateX(-200%);
    }
    75%, 95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

/*
    5% par transition, nombre choisi arbitrairement.

    reste divisé par nb de pauses
    80(%) / 4 = 20(%) par pause
*/
@keyframes slider-horizontal-droite {
    0%, 20% {
        transform: translateX(0);
    }
    25%, 45% {
        transform: translateX(100%);
    }
    50%, 70% {
        transform: translateX(200%);
    }
    75%, 95% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(400%);
    }
}

/*
    5% par transition, nombre choisi arbitrairement.

    reste divisé par nb de pauses
    80(%) / 4 = 20(%) par pause
*/
@keyframes slider-vertical-bas {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-100%);
    }
    50%, 70% {
        transform: translateY(-200%);
    }
    75%, 95% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/*
    5% par transition, nombre choisi arbitrairement.

    reste divisé par nb de pauses
    80(%) / 4 = 20(%) par pause
*/
@keyframes slider-vertical-haut {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(100%);
    }
    50%, 70% {
        transform: translateY(200%);
    }
    75%, 95% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(400%);
    }
}