*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    height: 60vh;
}

.box {
    position: relative;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container-lignes {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.ligne {
    position: absolute;
    border-radius: 10px;
    width: 100px;
    height: 10px;
    background: #000;
}

.box .ligne:nth-child(2) {
    top: 25px;
}

.box .ligne:nth-child(3) {
    top: 50px;
}

/* Anim 1 */
.b1 .ligne:nth-child(1), .ligne:nth-child(3) {
    transform: rotate(0 deg);
    transition:
    transform .4s ease-in-out,
    top .4s .4s ease-in-out;
}

.b1 .ligne:nth-child(2) {
    transition: opacity .4s .4s ease-in-out;
}

.b1.active .ligne:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}

.b1.active .ligne:nth-child(2) {
    transition: opacity .4s ease-in-out;
    opacity: 0;
}

.b1.active .ligne:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}

/* Anim 2 */
.b2 .ligne:nth-child(1) {
    transition:
    top .4s .4s ease-in-out;
}

.b2 .ligne:nth-child(3) {
    transform: rotate(0 deg);
    transition:
    transform .4s ease-in-out,
    top .4s .4s ease-in-out;
}

.b2 .ligne:nth-child(2) {
    transition: opacity .4s .4s ease-in-out;
}

.b2.active .ligne:nth-child(1) {
    top: 25px;
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}

.b2.active .ligne:nth-child(2) {
    transition: opacity .4s ease-in-out;
    opacity: 0;
}

.b2.active .ligne:nth-child(3) {
    top: 25px;
    transform: rotate(-90deg);
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}

/* Anim 3 */
.b3 .container-lignes {
    transition: transform .4s ease-in-out;
}

.b3.active .container-lignes {
    transition: transform .4s .4s ease-in-out;
    transform: translate(-50%, -50%) rotate(360deg);
}

.b3 .ligne:nth-child(1), .ligne:nth-child(3) {
    transform: rotate(0 deg);
    transition:
    transform .4s ease-in-out,
    top .4s .4s ease-in-out;
}

.b3 .ligne:nth-child(2) {
    transition: opacity .4s .4s ease-in-out;
}

.b3.active .ligne:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}

.b3.active .ligne:nth-child(2) {
    transition: opacity .4s ease-in-out;
    opacity: 0;
}

.b3.active .ligne:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
    transition:
    top .4s ease-in-out,
    transform .4s .4s ease-in-out;
}