body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.section {
    background-color: #16a085;
    height: 500px;
    line-height: 500px;
}

.section-2 {
    background-color: #2980b9;
}

.section-3 {
    background-color: #e74c3c;
}

.section-4 {
    background-color: #8e44ad;
}

.loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

/**
    $loader Quart de cercle
**/
.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, .4);
}

.loader-quart::after {
    position: absolute;
    content: '';
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

/**
    $loader Double cercle
**/
.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader-double::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 6px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: .6;
    -webkit-animation: spinreverse 2s linear infinite;
    animation: spinreverse 2s linear infinite;
}

/**
    $loader Cercles multiples
**/
.loader-circles {
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader-circles::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    opacity: .8;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

.loader-circles::before {
    position: absolute;
    content: '';
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    border: 3px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    opacity: .8;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 10s linear infinite;
}

/**
    $loader Barres
**/
.loader-bars::before,
.loader-bars::after,
.loader-bars span {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #fff;
    animation: grow 1s linear infinite;
    -webkit-animation: grow 1s linear infinite;
}

.loader-bars::after {
    left: 15px;
    animation-delay: -.66s;
    -webkit-animation-delay: -.66s;
}

.loader-bars span {
    left: 30px;
    animation-delay: -.33s;
    -webkit-animation-delay: -.33s;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinreverse {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spinreverse {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}