*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #454544;
    color: #FFF;
}

main {
    padding: 1em;
}

header {
    display: grid;
    grid-template-columns: 15vw 1fr;
    color: #FFF;
    background: linear-gradient(#000, #1F0797);
}

header a {
    color: #FFF;
}

#btnMenu {
    justify-self: end;
    background: transparent;
    color: #FFF;
    border: none;
}

#burger, #fermer {
    font-size: 1.7em;
    font-weight: bolder;
}

#menu {
    list-style: none;
}

#nav {
    grid-column: 2/3;
}

.hidden-sm {
    display: none;
}

@media (min-width: 32em) {
    .hidden-sm {
        display: initial;
    }

    .hidden-big {
        display: none;
    }

    #menu {
        display: flex;
        align-items: baseline;
    }

    #menu li {
        flex: 1 1 auto;
    }
}

footer {
    background: linear-gradient(#1F0797, #000);
}

footer li {
    text-align: center;
    list-style: none;
}

footer ul {
    padding: 0;
}

#accueil {
    font-size: 2.3em;
    font-weight: bolder;
}

#contact, #erratum {
    font-size: 1.7em;
}

#ressources {
    font-size: 1.5em;
}

#accueil, #contact, #erratum, #ressources {
    display: inline-block;
    width: 2rem;
}