*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e06ed1;
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template: "entete entete" min-content
    "complements contenu" 1fr
    "piedPage piedPage" min-content;
    grid-template-columns: 1fr;
}

.access_nav {
    position: absolute;
    top: -10em;
    z-index: 100;
    width: 100%;
}

.access_nav a {
    position: absolute;
    background-color: #fff;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem 0;
}

.access_nav a:focus, .access_nav a:hover {
    top: 10em;
    text-decoration: none;
}

header, main, aside, footer {
    padding: 10px;
}

header {
    grid-area: entete;
    background-color: #bfe988;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    /* text-align: center; */
    font-weight: normal;
    font-family: Georgia, 'Bitstream Vera Serif', Norasi, sans-serif;
}

header nav {
    padding-top: 20px;
}

header nav li {
    display: inline;
}

header nav li a {
    padding: 7px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 0;
}

main {
    grid-area: contenu;
    overflow-y: auto;
   background-color: lavender;
}

aside {
    grid-area: complements;
    background-color: mediumturquoise;
}

footer {
    grid-area: piedPage;
    background-color: #ebb2b2;
}