<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Choquet Olivier & Vandenheede Driss">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Symfony et Laravel - Suppléments - e-Syllabus HTML5 et CSS3</title>
        <!-- une icône dans la barre du navigateur -->
        <link rel="icon" href="../images/favicon.png" type="image/png">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <!-- liens d'évitement -->
        <ul class="a11y-nav">
            <li>
                <a href="#container">Passer directement au contenu</a>
            </li>
            <li>
                <a href="#menu">Accéder au menu secondaire de la page</a>
            </li>
            <li>
                <a href="#aside">Accéder aux liens utiles</a>
            </li>
        </ul>
        <!-- bannière et menu -->
        <header role="banner">
            <div class="logoTitle">
                <h1>Cours d'introduction au Web</h1>
                <h2>HTML5 et CSS3</h2>
            </div>
            <nav role="navigation" aria-label="Menu principal de navigation">
                <ul>
                    <li><a href="../index.html">Le cours</a></li>
                    <li><a href="../internet.html">Internet</a></li>
                    <li><a href="../html5.html">HTML5</a></li>
                    <li><a href="../css3.html">CSS3</a></li>
                    <li><a href="../methodologie.html">Méthodologie</a></li>
                    <li><a href="../lexique.html">Lexique</a></li>
                    <li><a href="../supplements.html" class="current">Suppléments</a></li>
                </ul>
            </nav>
        </header>
        <main id="container" role="main" tabindex="-1">
            <div id="menu">
                <nav role="navigation">
                    <ol>
                        <li><a href="../supplements.html">Retour au sommaire</a></li>
                        <li><a href="#choix_symfony_laravel">Le choix entre Symfony et Laravel</a></li>
                        <li><a href="#developpement_SOLID">Le développement SOLID</a></li>
                        <li><a href="#intro_symfony">Introduction à Symfony</a></li>
                        <li><a href="#intro_laravel">Introduction à Laravel</a></li>
                    </ol>
                </nav>
                <!-- aside lié à la page et pas à l'article donc pas à l'intérieur de article -->
                <aside id="aside">
                    <p>Liens utiles :</p>
                    <ul>
                        <li><a href="http://www.w3.org/" target="_blank">W3C</a></li>
                        <li><a href="http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3" target="_blank">Open Classroom</a></li>
                        <li><a href="http://www.w3.org/TR/html5/" target="_blank">Norme HTML5</a></li>
                        <li><a href="http://www.w3schools.com/" target="_blank">W3Schools</a></li>
                        <li><a href="http://www.alsacreations.com/" target="_blank">Alsa Création</a></li>
                        <li><a href="https://www.youtube.com/c/LeDesignerduWeb/videos">Le Designer du web</a></li>
                    </ul>
                </aside>
            </div>
            <section id="mainSection">
                <article>
                    <h1>Symfony et Laravel :</h1>
                </article>
                <article>
                    <p>Pour ceux qui utilisent Visual Studio Code, vous devez installer les extensions "PHP Namespace Resolver" et "PHP Docblocker" pour PHP mais également "PHP Intelephense" et "PHP Getters & Setters" si besoin.</p>
                    <h2 id="choix_symfony_laravel">Le choix entre Symfony et Laravel :</h2>
                    <p>Ce choix dépend de plusieurs facteurs, notamment vos besoins spécifiques, vos compétences en programmation, la taille du projet et la communauté de soutien. Les deux frameworks sont populaires et largement utilisés dans le développement web en PHP, mais ils ont des approches et des fonctionnalités différentes. Voici un bref aperçu de chacun :</p>
                    <h3>Symfony :</h3>
                    <ul>
                        <li>
                            <p>Symfony est un framework PHP mature et robuste, qui suit les principes de développement SOLID et encourage une approche modulaire pour la construction d'application web.</p>
                        </li>
                        <li>
                            <p>Il est hautement personnalisable et modulaire, vous permettant de choisir les composants dont vous avez besoin pour votre projet spécifique.</p>
                        </li>
                        <li>
                            <p>Symphony est connu pour sa stabilité, sa documentaion détaillée et sa grande communauté de développeurs. Il est souvent préféré pour les projets d'entreprise de grande envergure.</p>
                        </li>
                        <li>
                            <p>Il met l'accent sur la réutilisation du code grâce à ses composants réutilisables, ce qui peut accélérer le processus de développement.</p>
                        </li>
                        <li>
                            <p>Cependant, il peyt être plus verbeux que Laravel, nécessitant parfois plus de code pour accomplir certaines tâches.</p>
                        </li>
                    </ul>
                    <h3>Laravel :</h3>
                    <ul>
                        <li>
                            <p>Laravel est également un framework PHP populaire qui se concentre sur la simplicité et l'élégance du code. Il suit le modèle MVC (Modèle-Vue-Contrôleur) et propose une syntaxe expressive et concise.</p>
                        </li>
                        <li>
                            <p>Il est livré avec de nombreuses fonctionnalités intégrées, telles que l'ORM Eloquent, la gestion des migrations de base de données, le système de routage convivial, l'intégration de la messagerie et bien plus encore.</p>
                        </li>
                        <li>
                            <p>Laravel est souvent choisi pour les projets de taille moyenne à grande, mais il est également adapté aux petites applications en raison de sa courbe d'apprentissage douce.</p>
                        </li>
                        <li>
                            <p>Il dispose d'une communauté active et de documentation complète, ce qui facilite la résolution des problèmes et l'apprentissage du framework.</p>
                        </li>
                        <li>
                            <p>Cependant, en raison de son approche "magique", il peut être moins prévisible et modulaire que Symfony.</p>
                        </li>
                    </ul>
                    <p>En fin de compte, le choix entre Symfony et Laravel dépend de vos préférences personnelles, de votre expérience en développement PHP et des besoins spécifiques de votre projet. Si vous appréciez la modularité, la personnalisation et la réutilisation du code, Symfont pourrait être un bon choix. Si vous recherchez la simplicité, l'efficacité et la rapidité de développement, Laravel pourrait mieux vous convenir.</p>
                    <p>Il est recommandé de prendre le temps de tester les deux frameworks, de lire leur documentation, de consulter des tutoriels (dans la suite, j'introduis chacun d'eux) et de participer aux communautés pour vous faire une idée plus précise de leurs avantages et de leurs inconvénients. Quel que soit votre choix, les deux frameworks offrent d'excellentes solutions pour le développement web en PHP.</p>
                </article>
                <article>
                    <h2 id="developpement_SOLID">Le développement SOLID :</h2>
                    <p>Le développement SOLID est un ensemble de principes fondamentaux de conception de logiciels qui visent à créer des systèmes logiciels flexibles, maintenables et évolutifs. Le terme SOLID est un acronyme qui représente les cinq principes individuels qui le composent. Ces principes ont été formulés par Robert C. Martin (également connu sous le nom de "Uncle Bob") et sont largement utilisés dans le développement logiciel orienté objet.</p>
                    <p>Voici une brève description de chaque principe SOLID :</p>
                    <ol>
                        <li>
                            <h3>Principe de Responsabilité Unique (Single Responsibility Principle - SRP) :</h3>
                            <p>Ce principe stipule qu'une classe (ou un module) ne devrait avoir qu'une seule raison de changer. En d'autres termes, une classe ne doit être responsable que d'une seule fonctionnalité ou tâche spécifique. Cela favorise la sépération des responsabilités et permet de rendre les classes plus cohérentes et plus facilement modifiables.</p>
                        </li>
                        <li>
                            <h3>Principe Ouvert/Fermé (Open/Closed Principle - OCP) :</h3>
                            <p>Le principe OCP indique qu'une classe doit être ouverte à l'extension (ajout de nouvelles fonctionnalités) mais fermée à la modification (le comportement existant ne doit être modifié). Plutôt que de modifier une classe existante, vous devriez étendre ses fonctionnalités en créant de nouvelles classes qui héritent des fonctionnalités de la classe de base.</p>
                        </li>
                        <li>
                            <h3>Principe de Substitution de Liskov (Liskov Substitution Principle - LSP) :</h3>
                            <p>Ce principe souligne que les objets d'une classe dérivée doivent pouvoir être substitués aux objets de la classe de base sans affecter la cohérence du programme. En d'autres termes, une classe dérivée doit être en mesure de remplacer sa classe de base sans provoquer d'effets indésirables ou d'erreurs.</p>
                        </li>
                        <li>
                            <h3>Principe de Ségrégation des Interfaces (Interface Segregation Principle - ISP) :</h3>
                            <p>L'ISP suggère que les interfaces clients ne devraient pas être forcées de dépendre des méthodes qu'elles n'utilisent pas. Plutôt que de créer de grandes interfaces contenant de nombreuses méthodes, vous devriez diviser les interfaces en petites interfaces spécifiques à chaque client.</p>
                        </li>
                        <li>
                            <h3>Principe d'Inversion des Dépendances (Dependency Inversion Principle - DIP) :</h3>
                            <p>Le DIP met l'accent sur le fait que les modules de haut niveau ne doivent pas dépendre des modules de bas niveau, mais des abstractions. Cela signifie que les détails d'implémentation doivent dépendre des abstractions plutôt que l'inverse. En utilisant l'inversion des dépendances, vous pouvez rendre vos applications plus flexibles et plus faciles à étendre.</p>
                        </li>
                    </ol>
                    <p>En suivant ces principes SOLID, les développeurs peuvent créer des codes plus robustes, éviter les dépendances rigides et faciliter la maintenance et l'évolution des applications. Les principes SOLID sont largement considérés comme les meilleures pratiques de conception orientée objet et sont utilisés pour créer des logiciels de haute quantité et faciles à maintenir.</p>
                </article>
                <article>
                    <h2 id="intro_symfony">Introduction au Framework PHP Symfony :</h2>
                    <p>Dans ce tutoriel, nous allons vous guider à travers les étapes pour commencer à utiliser le framework PHP Symfony. Symfony est un framework web puissant et flexible qui facilite le développement d'applications web évolutives et de haute qualité.</p>
                    <p>Vous trouverez la documentation complète de Symfony à l'adresse suivante : <a href="https://symfony.com/doc/current/index.html" target="_blank">https://symfony.com/doc/current/index.html</a>.</p>
                    <h3>Étape 1 : Installation de Symfony :</h3>
                    <p>Avant de commencer, assurez-vous que vous disposez d'une installation de PHP et du gestionnaire de dépendances Composer sur votre système.</p>
                    <ol>
                        <li>
                            <p>Ouvrez une ligne de commande ou un terminal.</p>
                        </li>
                        <li>
                            <p>Installez Symfony en utilisant Composer avec la commande suivante :</p>
<pre><code>composer create-project symfony/website-skeleton nom_du_projet</code></pre>
                            <p>Ou encore, si vous avez installé le Symfony CLI et que vous l'avez mis dans le PATH, vous pouvez faire la même chose avec la commande :</p>
<pre><code>symfony new nom_du_projet --full</code></pre>
                            <p>Remplacez "nom_du_projet" par le nom que vous souhaitez donner à votre projet.</p>
                            <p>Remarque : Au moment où j'écris ces lignes, l'option <span class="em">--full</span> est déprécié, mais il existe l'option <span class="em">--webapp</span> à la place.</p>
                        </li>
                        <li>
                            <p>Changez de répertoire vers votre nouveau projet :</p>
<pre><code>cd nom_du_projet</code></pre>
                            <p>Dans un projet Symfony typique, vous trouverez généralement les dossiers suivants à la racine du projet :</p>
                            <ol>
                                <li>
                                    <p><span class="em">bin/</span> : Contient des scripts exécutables, tels que <span class="html">console</span>, qui est utilisé pour exécuté des commandes Symfony en ligne de commande.</p>
                                </li>
                                <li>
                                    <p><span class="em">config/</span> : Contient les fichiers de configuration de l'application, tels que <span class="html">config.yaml</span> (ou <span class="html">config.yml</span>), <span class="html">services.yaml</span>, <span class="html">routes.yaml</span>, etc.</p>
                                </li>
                                <li>
                                    <p><span class="em">migrations/</span> : Dans les projets Symfony qui utilisent Doctrine, un outil de mapping objet-relationnel (ORM) pour PHP, contient les fichiers de migration de base de données.</p>
                                </li>
                                <li>
                                    <p><span class="em">public/</span> : Contient les fichiers accessibles publiquement par le navigateur, tels que les fichiers CSS, JavaScript, les images, ainsi que le fichier <span class="em">index.php</span> qui est le point d'entrée de l'application.</p>
                                </li>
                                <li>
                                    <p><span class="em">src/</span> : Contient le code source de l'application. C'est ici que vous trouverez généralement les contrôleurs, les entités, les formulaires, les services, etc.</p>
                                </li>
                                <li>
                                    <p><span class="em">templates/</span> : Contient les fichiers de templates Twig utilisés pour générer les vues de l'application.</p>
                                </li>
                                <li>
                                    <p><span class="em">tests/</span> : Contient les tests unitaires et fonctionnels de l'application.</p>
                                </li>
                                <li>
                                    <p><span class="em">translations/</span> : Contient les fichiers de traduction de l'application.</p>
                                </li>
                                <li>
                                    <p><span class="em">var/</span> : Contient les fichiers générés par l'application, tels que les caches, les logs, les sessions, etc.</p>
                                </li>
                                <li>
                                    <p><span class="em">vendor/</span> : Contient les dépendances installées via Composer, le gestionnaire de dépendances de PHP.</p>
                                </li>
                                <li>
                                    <p><span class="html">.env</span> : Fichier de configuration de l'environnement, utilisé pour définir des variables d'environnement telles que les paramètres de connexion à la base de données, les clés secrètes, etc.</p>
                                </li>
                                <li>
                                    <p><span class="html">composer.json</span> et <span class="html">composer.lock</span> : Fichiers utilisés par Composer pour gérer les dépendances du projet.</p>
                                </li>
                                <li>
                                    <p><span class="html">symfony.lock</span> : Fichier utilisé par Symfony pour verouiller les versions des composants Symfony installés.</p>
                                </li>
                            </ol>
                            <p>Ce sont les principaux dossiers et fichiers que vous trouverez dans un projet Symfony standard. Le contenu exact peut varier en fonction de la version de Symfony et des besoins spécifiques du projet.</p>
                        </li>
                    </ol>
                    <h3>Étape 2 : Lancer le serveur web local :</h3>
                    <p>Symfony fournit un serveur de développement pour faciliter le test de votre application en local. Pour le lancer, utilisez la commande suivante :</p>
<pre><code>symfony server:start</code></pre>
                    <h3>Étape 3 : Création d'une route et d'un contrôleur :</h3>
                    <ol>
                        <li>
                            <p>Créez le contrôleur nommé <span class="em">DefaultController</span> en utilisant la commande suivante :</p>
<pre><code>php bin/console make:controller DefaultController</code></pre>
                        </li>
                        <li>
                            <p>Ouvrez le fichier <span class="em">`src/Controller/DefaultController.php`</span> avec votre éditeur de code préféré et voici le code généré par la commande :</p>
<pre><code>&lt;?php

    namespace App\Controller;
    
    use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
    use Symfony\Component\HttpFoundation\Response;
    use Symfony\Component\Routing\Attribute\Route;
    
    class DefaultController extends AbstractController
    {
        #[Route('/default', name: 'app_default')]
        public function index(): Response
        {
            return $this->render('default/index.html.twig', [
                'controller_name' =&gt; 'DefaultController',
            ]);
        }
    }

?&gt;</code></pre>
                        </li>
                        <li>
                            <p>Créez une nouvelle action (méthode) dans le contrôleur pour gérer une page d'accueil :</p>
<pre><code>// Ajoutez cette méthode à la classe DefaultController
#[Route('/', 'home.index', methods: ['GET'])]
public function homepage() : Response {
    return $this-&gt;render('pages/homepage.html.twig');
}</code></pre>
                        </li>
                    </ol>
                    <h3>Étape 4 : Création de la vue (template) :</h3>
                    <ol>
                        <li>
                            <p>Créez un nouveau fichier <span class="em">`templates/pages/homepage.html.twig`</span> dans le répertoire du projet (si le dossier "pages" n'existe pas encore, créez-le).</p>
                        </li>
                        <li>
                            <p>Ajoutez du contenu HTML à votre template :</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="fr"&gt;
    &lt;head&gt;
        &lt;title&gt;Mon Projet Symfony&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Bienvenue sur Mon Projet Symfony !&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                        </li>
                        <li>
                            <p>Modifiez le template pour qu'il étend de celui de base dans le fichier <span class="em">`templates/base.html.twig`</span> :</p>
<pre><code>{% extends "base.html.twig" %}

{%block title %}Mon Projet Symfony{% endblock %}

{% block body %}
    &lt;h1&gt;Bienvenue sur Mon Projet Symfony !&lt;/h1&gt;
{% endblock %}</code></pre>
                        </li>
                        <li>
                            <p>Vous pouvez également modifier votre template de base pour intégrer Bootstrap : dans le block <span class="em">stylesheets</span>, on met <a href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" target="_blank">le lien CDN CSS de Bootstrap</a> et, dans le block <span class="em">javascripts</span>, <a href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" target="_blank">le lien CDN JS de Bootstrap</a>.</p>
                        </li>
                        <li>
                            <p>On peut également inclure un template Twig dans un autre comme par exemple :</p>
<pre><code>{% include "partials/_header.html.twig" %}</code></pre>
                            <p>Ça permet donc d'inclure le fichier partiel "header" pour avoir le même header sur toutes les pages.</p>
                        </li>
                    </ol>
                    <h3>Étape 5 : Définir la route :</h3>
                    <ol>
                        <li>
                            <p>Ouvrez le fichier <span class="em">`config/routes.yaml`</span> avec votre éditeur de code.</p>
                        </li>
                        <li>
                            <p>Définissez une nouvelle route pour accéder à la page d'accueil :</p>
<pre><code># Ajoutez cette ligne au fichier routes.yaml
homepage:
    path: /
    controller: App\Controller\DefaultController::homepage</code></pre>
                            <p>En Symfony 7 et plus, on a plus besoin de la définir car elle est directement écrit dans le contrôleur.</p>
                        </li>
                    </ol>
                    <h3>Étape 6 : Accéder à votre application :</h3>
                    <p>Ouvrez votre navigateur web et accédez à l'URL : <span class="em">`http://localhost:8000`</span>. Vous devriez voir le message "Bienvenur sur Mon Projet Symfony !" sur la page d'accueil.</p>
                    <p>C'est tout ! Vous avez maintenant créé une application web simple en utilisant Symfony. Vous pouvez continuer à explorer la documentation officielle de Symfony pour découvrir plus de fonctionnalités et d'outils puissants offerts par ce framework.</p>
                    <p>En 2024, je rajoute de nouvelles étapes pour améliorer ce tutoriel sur Symfony. Voici les nouveautés :</p>
                    <h3>Étape 7 : Notre première entité :</h3>
                    <p>Dans le fichier <span class="em">.env</span>, on va modifier la variable <span class="html">DATABASE_URL</span> pour que ça correspond bien à notre base de données. Sa syntaxe sera :</p>
<pre><code>DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"</code></pre>
                    <p>On doit remplacer "db_user", "db_password" et "db_name" par les valeurs que l'on a définies. Si la base de données avec le nom stocké dans "db_name" n'est pas encore dans PHP My Admin, on peut la créer avec la commande suivante :</p>
<pre><code>php bin/console doctrine:database:create</code></pre>
                    <p>Ou on peut utiliser la commande abrégée :</p>
<pre><code>php bin/console d:d:c</code></pre>
                    <p>Remarque : Ça lance une erreur si la base de données existe déjà. On verra sûrement un peu plus tard comment faire pour la supprimer.</p>
                    <p>Dans un projet de recettes de cuisine, on a besoin d'une entité pour l'ingrédient qui sera définie par :</p>
                    <ul>
                        <li>
                            <p>Un nom qui ne pourra pas excéder plus de 50 caractères et devra faire au minimum 2 caractères.</p>
                        </li>
                        <li>
                            <p>Un prix au kg (par exemple 2 euros le kilo) qui ne pourra être inférieur à 1 et supérieur à 200. Le prix pourra contenir des décimales.</p>
                        </li>
                        <li>
                            <p>Un champ contenant la date de création qui doit être générée automatiquement une fois l'ingrédfient créé.</p>
                        </li>
                    </ul>
                    <p>Pour créer cette entité, on utilise la commande :</p>
<pre><code>php bin/console make:entity Ingredient</code></pre>
                    <p>Cette commande crée deux fichiers : <span class="em">`src/Entity/Ingredient.php`</span> et <span class="em">`src/Repository/IngredientRepository.php`</span>.</p>
                    <p>Ensuite, il demande le nom des propriétés, son type, sa longueur et s'il est nullable en base de données. Par exemple, la propriété "name" est une "string" de "50" caractères "no" nullable.</p>
                    <p>Voici la classe entité "Ingredient.php" (je ne mettrais pas tous les getters et les setters) :</p>
<pre><code>&lt;?php

    namespace App\Entity;

    use App\Repository\IngredientRepository;
    use Doctrine\ORM\Mapping as ORM;

    use Symfony\Component\Validator\Constraints as Assert;

    #[ORM\Entity(repositoryClass: IngredientRepository::class)]
    class Ingredient
    {
        #[ORM\Id]
        #[ORM\GeneratedValue]
        #[ORM\Column(type: 'integer')]
        private ?int $id;

        #[ORM\Column(type: 'string', length: 50)]
        #[Assert\Length(min: 2, max: 50)]
        private string $name;

        #[ORM\Column(type: 'float')]
        private float $price;

        #[ORM\Column(type: 'datetime_immutable')]
        private ?DateTimeImmutable $createdAt;

        public function __construct()
        {
            $this->createdAt = new \DateTimeImmutable();
        }

        public function getId(): ?int
        {
            return $this-&gt;id;
        }

        public function getName(): ?string
        {
            return $this-&gt;name;
        }

        public function setName(string name): self
        {
            $this-&gt;name = $name;
            
            return $this;
        }

    }

?&gt;</code></pre>
                    <p>Ensuite, comme avec Laravel, on va faire une migration pour migrer les entités dans la base de données avec la commande :</p>
<pre><code>php bin/console make:migration</code></pre>
                    <p>Dans cette migration, on a du SQL pur et dur. Symfony a interprété l'entité en SQL et donc a fait un <span class="html">CREATE TABLE</span> dans la fonction <span class="em">up</span> et un <span class="html">DROP TABLE</span> dans la fonction <span class="em">down</span>.</p>
                    <p>Maintenant on va migrer toutes les migrations vers la base de données avec la commande :</p>
<pre><code>php bin/console doctrine:migrations:migrate</code></pre>
                    <p>Ou encore avec la commande abrégée :</p>
<pre><code>php bin/console d:m:m</code></pre>
                    <p>Si la base de données était vide, ça rajoute une table supplémentaire de la table "Ingredient" de notre migration qui est nommée "doctrine_migration_versions" et qui contient la version de la migration, la date d'exécution et le temps d'exécution en milisecondes.</p>
                    <p>Pour gérer les différentes contraintes des données, comme par exemple que le prix ne doit pas être inférieur à 1, on utilise des <span class="html">Assert</span>. Reprenons l'exemple de notre entité "Ingredient" :</p>
<pre><code>&lt;?php

    namespace App\Entity;

    use App\Repository\IngredientRepository;
    use Doctrine\ORM\Mapping as ORM;

    #[ORM\Entity(repositoryClass: IngredientRepository::class)]
    class Ingredient
    {
        #[ORM\Id]
        #[ORM\GeneratedValue]
        #[ORM\Column(type: 'integer')]
        private ?int $id;

        #[ORM\Column(type: 'string', length: 50)]
        #[Assert\NotBlank]
        #[Assert\Length(min: 2, max: 50)]
        private string $name;

        #[ORM\Column(type: 'float')]
        #[Assert\NotNull()]
        #[Assert\Positive()]
        #[Assert\LessThan(200)]
        private float $price;

        #[ORM\Column(type: 'datetime_immutable')]
        #[Assert\NotNull()]
        private ?DateTimeImmutable $createdAt;

        public function __construct()
        {
            $this->createdAt = new \DateTimeImmutable();
        }

        public function getId(): ?int
        {
            return $this-&gt;id;
        }

        public function getName(): ?string
        {
            return $this-&gt;name;
        }

        public function setName(string name): self
        {
            $this-&gt;name = $name;
            
            return $this;
        }

    }

?&gt;</code></pre>
                    <p>Dans la suite de ce tutoriel, on va créer des fixtures qui permettent de nous générer un jeu de fausses données comme un Faker.</p>
                    <p>Pour faire cela, on va installer les packages en développement :</p>
<pre><code>composer require --dev orm-fixtures</code></pre>
                    <p>Ainsi que la commande :</p>
<pre><code>composer require --dev fakerphp/faker</code></pre>
                    <p>Ces commandes ont créer le dossier <span class="em">`src\DataFixtures`</span> et dedans le fichier <span class="em">AppFixtures</span> avec le contenu que l'on va modifier comme cela :</p>
<pre><code>&lt;?php

    namespace App\DataFixtures;

    use Faker\Factory;
    use Faker\Generator;
    use App\Entity\Ingredient;
    use Doctrine\Bundle\FixturesBundle\Fixture;
    use Doctrine\Persistence\ObjectManager;

    class AppFixtures extends Fixture
    {
        /**
        * @var Generator
        */
        private Generator $faker;

        public function __construct()
        {
            $this->faker = Factory::create('fr_FR');
        }

        public function load(ObjectManager $manager): void
        {
            for ($i = 0; $i &lt; 50; $i++) {
                $ingredient = new Ingredient();
                $ingredient-&gt;setName($this-&gt;faker-&gt;word())-&gt;setPrice(mt_rand(0, 100));

                $manager-&gt;persist($ingredient);
            }

            $manager-&gt;flush();
        }
    }

?&gt;</code></pre>
                    <p>Ensuite, on va les charger avec la commande :</p>
<pre><code>php bin/console doctrine:fixtures:load</code></pre>
                    <p>Ou encore avec la commande abrégée :</p>
<pre><code>php bin/console d:f:l</code></pre>
                    <p>Maintenant, on va enfin faire des CRUD sur la table "Ingredient". D'abord, on va afficher la liste des ingrédients.</p>
                    <p>Premièrement, on va créer un nouveau contrôleur "IngredientController" avec la commande :</p>
<pre><code>php bin/console make:controller IngredientController</code></pre>
                    <p>Remarque : Ça va créer le fichier <span class="em">`templates/ingredient/index.html.twig`</span>, mais, pour faire un peu le ménage, on va créer un dossier "pages" et donc on va y insérer dedans le dossier "ingredient".</p>
                    <p>Modifions la fonction "index" de notre contrôleur fraîchement créé :</p>
<pre><code>#[Route('/ingredient', name: 'ingredient', methods: ['GET'])]
public function index(IngredientRepository $repository) : Response
{
    $ingredients = $repository->findAll();
    // dd($ingredients);

    return $this-&gt;render('pages/ingredient/index.html.twig', [
        'ingredients' =&gt; $ingredients
    ]);
}</code></pre>
                    <p>On va modifier le fichier TWIG comme ceci :</p>
<pre><code>{% extends 'base.html.twig' %}

{% block title %}Mes ingréidents{% endblock %}

{% block body %}
    &lt;div class="container mt-4"&gt;
        &lt;h1&gt;Mes ingrédients&lt;/h1&gt;

        &lt;table class="table table-hover"&gt;
            &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th scope="col"&gt;Numéro&lt;/th&gt;
                    &lt;th scope="col"&gt;Nom&lt;/th&gt;
                    &lt;th scope="col"&gt;Prix&lt;/th&gt;
                    &lt;th scope="col"&gt;Date de création&lt;/th&gt;
                &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                {% for ingredient in ingredients %}
                    &lt;tr class="table-primary"&gt;
                        &lt;th scope="row"&gt;{{ ingredient.id }}&lt;/th&gt;
                        &lt;td&gt;{{ ingredient.name }}&lt;/td&gt;
                        &lt;td&gt;{{ ingredient.price }}&lt;/td&gt;
                        &lt;td&gt;{{ ingredient.createdAt|date('d/m/Y') }}&lt;/td&gt;
                    &lt;/tr&gt;
                {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;
        
    &lt;/div&gt;
{% endblock %}</code></pre>
                    <p>Pour la pagination dans la page, on va utiliser le bundle "KnpPaginatorBundle" en l'instalalnt avec la commande :</p>
<pre><code>composer require knplabs/knp-paginator-bundle</code></pre>
                    <p>On va créer le fichier <span class="em">`config/packages/knp_paginator.yaml`</span> avec le contenu suivant :</p>
<pre><code>knp_paginator:
    page_range: 5                       # number of links shown in the pagination menu (e.g: you have 10 pages, a page_range of 3, on the 5th page you'll see links to page 4, 5, 6)
    default_options:
        page_name: page                 # page query parameter name
        sort_field_name: sort           # sort field query parameter name
        sort_direction_name: direction  # sort direction query parameter name
        distinct: true                  # ensure distinct results, useful when ORM queries are using GROUP BY statements
        filter_field_name: filterField  # filter field query parameter name
        filter_value_name: filterValue  # filter value query parameter name
    template:
        pagination: '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig'     # sliding pagination controls template
        rel_links: '@KnpPaginator/Pagination/rel_links.html.twig'     # &lt;link rel=...&gt; tags template
        sortable: '@KnpPaginator/Pagination/sortable_link.html.twig' # sort link template
        filtration: '@KnpPaginator/Pagination/filtration.html.twig'  # filters template</code></pre>
                    <p>Modifions notre fonction "index" de notre cotrôleur pour qu'elle prenne en compte la pagination :</p>
<pre><code>use Knp\Component\Pager\PaginatorInterface;
use Symfony\Component\HttpFoundation\Request;

/**
* This function display all ingredients
*
* @param IngredientRepository $repository
* @param PaginatorInterface $paginator
* @param Request $request
* @return Response
*/
#[Route('/ingredient', name: 'ingredient', methods: ['GET'])]
public function index(IngredientRepository $repository, PaginatorInterface $paginator, Request $request) : Response
{

    $ingredients = $paginator-&gt;paginate(
        $repository->findAll(),
        $request-&gt;query-&gt;getInt('page', 1),
        10    
    );
    // dd($ingredients);

    return $this-&gt;render('pages/ingredient/index.html.twig', [
        'ingredients' =&gt; $ingredients
    ]);
}</code></pre>
                    <p>On va modifier également le fichier TWIG en ajoutant ceci :</p>
<pre><code>&lt;div class="count mt-4"&gt;
    &lt;p&gt;Il y a {{ ingredients.getTotalItemCount }} ingrédients au total&lt;/p&gt;
&lt;/div&gt;
    
&lt;div class="navigation d-flex justify-content-center mt-4"&gt;
    {{ knp_pagination_render(ingredients) }}
&lt;/div&gt;</code></pre>
                    <p>On peut faire un <span class="html">{% if not ingredients.items is same as([]) %}</span> pour vérifier que la liste n'est pas vide.</p>
                    <p>Pour la création d'un nouvel ingrédient, on va créer un nouveau formulaire "IngredientType" avec l'entité "Ingredient" via la commande :</p>
<pre><code>php bin/console make:form</code></pre>
                    <p>Ça permet de créer le fichier <span class="em">`src/Form/IngredientType.php`</span> avec le contenu suivant :</p>
<pre><code>&lt;?php

    namespace App\Form;

    use App\Entity\Ingredient;
    use Symfony\Component\Form\AbstractType;
    use Symfony\Component\Form\Extension\Core\Type\TextType;
    use Symfony\Component\Form\Extension\Core\Type\MoneyType;
    use Symfony\Component\Form\Extension\Core\Type\SubmitType;
    use Symfony\Component\Form\FormBuilderInterface;
    use Symfony\Component\Form\OptionsResolver;

    use Symfony\Component\Validator\Constraints as Assert;

    class IngredientType extends AbstractType
    {
        public function buildForm(FormBuilderInterface $builder, array $options): void
        {
            $builder
                -&gt;add('name', TextType::class, [
                    'attr' =&gt; [
                        'class' =&gt; 'form-control',
                        'minlength' =&gt; '2',
                        'maxlength' =&gt; '50'
                    ],
                    'label' =&gt; 'Nom',
                    'label_attr' =&gt; [
                        'class' =&gt; 'form-label mt-4'
                    ],
                    'constraints' =&gt; [
                        new Assert\Length(['min' =&gt; 2, 'max' =&gt; 50]),
                        new Assert\NotBlank()
                    ]
                ])
                -&gt;add('price', MoneyType::class, [
                    'attr' =&gt; [
                        'class' =&gt; 'form-control',
                    ],
                    'label' =&gt; 'Prix',
                    'label_attr' =&gt; [
                        'class' =&gt; 'form-label mt-4'
                    ],
                    'constraints' =&gt; [
                        new Assert\Positive(),
                        new Assert\LessThan(200),
                        new Assert\NotNull()
                    ]
                ])
                -&gt;add('submit', SubmitType::class, [
                    'attr' =&gt; [
                        'class' =&gt; 'btn btn-primary mt-4'
                    ],
                    'label' =&gt; 'Créer mon ingrédient'
                ]);
        }

        public function configureOptions(OptionsResolver $resolver): void
        {
            $resolver-&gt;setDefaults([
                'data_class' =&gt; Ingredient::class,
            ]);
        }
    }

?&gt;</code></pre>
                    <p>Dans notre IngredientController, on va créer une nouvelle fonction "new" :</p>
<pre><code>#[Route('/ingredient/nouveau', 'ingredient.new', methods: ['GET', 'POST'])]
public function new(Request $request, EntityManagerInterface $manager): Response
{
    $ingredient = new Ingredient();
    $form = $this-&gt;createForm(IngredientType::class, $ingredient);

    $form-&gt;handleRequest($request);

    if ($form-&gt;isSubmitted() && $form-&gt;isValid()) {
        $ingredient = $form-&gt;getData();
        
        $manager-&gt;persist($ingredient);
        $manager-&gt;flush();
    }

    return $this-&gt;render('pages/ingredient/new.html.twig', [
        'form' =&gt; $form-&gt;createView()
    ]);
}</code></pre>
                    <p>On va également créer le nouveau template <span class="em">`templates/ingredient/new.html.twig`</span> avec le contenu suivant :</p>
<pre><code>{% extends "base.html.twig" %}

{% block body %}
    &lt;div class="container"&gt;
        &lt;h1 class="mt-4"&gt;Création d'un ingrédient&lt;/h1&gt;

        {{ form(form) }}
    &lt;/div&gt;
{% endblock %}</code></pre>
                    <p>Dans le tutoriel suivant, nous aborderons Laravel, un autre framework PHP populaire pour le développement web.</p>
                </article>
                <article>
                    <h2 id="intro_laravel">Introduction au Framework PHP Laravel :</h2>
                    <p>Dans ce tutoriel, nous allons vous guider à travers les étapes pour commencer à utiliser le framework PHP Laravel. Laravel est un framework web élégant et puissant qui facilite le développement rapide d'applications web modernes.</p>
                    <h3>Étape 1 : Installation de Laravel :</h3>
                    <p>Avant de commencer, assurez-vous d'avoir PHP et le grestionnaire de dépendances Composer installés sur votre système.</p>
                    <ol>
                        <li>
                            <p>Ouvrez une ligne de commande ou un terminal.</p>
                        </li>
                        <li>
                            <p>Installez Laravel en utilisant Composer avec la commande suivante :</p>
<pre><code>composer create-project --prefer-dist laravel/laravel nom_du_projet</code></pre>
                            <p>Remplacez "nom_du_projet" par le nom que vous souhaitez donner à votre projet.</p>
                        </li>
                        <li>
                            <p>Changez de répertoire vers votre nouveau projet :</p>
<pre><code>cd nom_du_projet</code></pre>
                        </li>
                    </ol>
                    <h3>Étape 2 : Lancer le serveur web local :</h3>
                    <p>Laravel propose un serveur de développement pour faciliter le test de votre application en local. Pour le lancer, utilisez la commande suivante :</p>
<pre><code>php artisan serve</code></pre>
                    <h3>Étape 3 : Création d'une route et d'un contrôleur :</h3>
                    <ol>
                        <li>
                            <p>Ouvre le fichier <span class="em">`routes/web.php`</span> avec votre éditeur de code préféré.</p>
                        </li>
                        <li>
                            <p>Définissez une nouvelle route pour gérer une page d'accueil :</p>
<pre><code>// Ajoutez cette ligne au fichier web.php
Route::get('/', 'App\Http\Controllers\HomeController@index');</code></pre>
                        </li>
                        <li>
                            <p>Créez un nouveau contrôleur pour gérer cette route :</p>
<pre><code>php artisan make:controller HomeController</code></pre>
                        </li>
                    </ol>
                    <h3>Étape 4 : Implémenter la logique du contrôleur :</h3>
                    <ol>
                        <li>
                            <p>Ouvrez le fihcier <span class="em">`app/Http/Controllers/HomeController.php`</span> avec votre éditeur de code.</p>
                        </li>
                        <li>
                            <p>Implémentez la logique du contôleur pour retourner la vue (template) :</p>
<pre><code>// Ajoutez cette méthode à la classe HomeController
public function index() {
    return view('homepage');
}</code></pre>
                        </li>
                    </ol>
                    <h3>Étape 5 : Création de la vue (template) :</h3>
                    <ol>
                        <li>
                            <p>Créez un nouveau fichier <span class="em">`ressources/views/homepage.blade.php`</span> dans le répertoire du projet.</p>
                        </li>
                        <li>
                            <p>Ajoutez du contenu HTML à votre template :</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="fr"&gt;
    &lt;head&gt;
        &lt;title&gt;Mon Projet Laravel&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Bienvenue sur Mon Projet Laravel !&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                        </li>
                    </ol>
                    <h3>Étape 6 : Accéder à votre application :</h3>
                    <p>Ouvrez votre navigateur web et accédez à l'URL : <span class="em">`http://localhost:8000`</span>. Vous devriez voir le message "Bienvenur sur Mon Projet Laravel !" sur la page d'accueil.</p>
                    <p>Félicitations ! Vous avez maintenant créé une application web simple en utilisant Laravel. Laravel propose de nombreuses fonctionnalités pratiques telles que la gestion des migrations de base de données, l'ORM Eloquent, les formulaires, l'authentification et bien olus encore.</p>
                    <p>Vous pouvez continuer à explorer la documentation officielle de Laravel pour découvrir davantage de fonctionnalités et d'outils puissants offerts par ce framework. Laravel dispose également d'une communauté active qui partage de nombreux packages et ressources pour faciliter le développement de vos projets web.</p>    
                </article>
                <article>
                    <p>Pour plus d'informations pour savoir comment choisir entre Laravel et Symfony, voici <a href="https://grafikart.fr/tutoriels/laravel-symfony-866" target="_blank">le tutoriel vidéo de Grafikart</a>.</p>
                </article>
            <!-- fin de section -->
            </section>
        </main>
        <footer role="contentinfo">
            <div>
                <address>
                    Professeurs :
                    <a class="mail" href="mailto:olivier.choquet@vinci.be">Choquet Olivier</a>
                    <a class="mail" href="mailto:driss.vandenheede.techinfo@gmail.com">Vandenheede Driss</a>
                </address>
            </div>
            <div>
                <p>Si vous détectez une erreur, une faute d'orthographe, n'hésitez pas à envoyer un mail aux adresses juste à côté avec le nom de la page et l'erreur détectée.</p>
            </div>
            <div id="version">
                <p>Syllabus HTML</p>
                <p>Version 5.0</p>
            </div>
        </footer>
        <script src="../pre.js"></script>
    </body>
</html>