@font-face {
    font-family: "Braille Antoine";
    src: url("braille2_sandro.ttf") format("truetype");
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
canvas {
    display: none;
    font-family: "Braille Antoine", sans-serif;
}